<template>
  <b-modal v-model="modalShow" no-close-on-backdrop no-close-on-esc>
    <div class="content-modal">
      <img src="../../../assets/img/Group 3.png" alt="" />
      <p>El formulario contiene errores</p>
    </div>
    <template #modal-footer>
      <b-button variant="primary" size="sm" block @click="modal = false">
        Regresar
      </b-button>
    </template>
  </b-modal>
</template>
<script>
function data() {
  return {
    modal: false,
  };
}

export default {
  name: "failed-modal",
  props: { modalShow: Boolean },
  data,
  watch: {
    modalShow: function(val) {
      this.modal = val;
    },
    modal: function(val) {
      this.$emit("hidden-modal-failed", val);
    },
  },
};
</script>
<style scoped>
.content-modal {
  text-align: center;
  font-size: 1.2rem;
  color: #969696;
}

.content-modal img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.9rem;
}
</style>
