<template>
  <footer class="footer">
    <b-row>
      <b-col cols="7" cols-sm class="footer-text">
        <span>ePayco © 2011 - 2019 todos los derechos reservados.</span>
      </b-col>
      <b-col cols="5" cols-sm class="footer-logo">
        <img src="../../assets/img/Group2.png" alt="" />
        <img src="../../assets/img/Group-1.png" alt="" />
      </b-col>
    </b-row>
  </footer>
</template>
<script>
export default {
  name: "footer-layout",
};
</script>
<style scoped>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  border-top: 3px solid #f3f3f4;
}

.footer-text {
  text-align: start;
  padding-left: 6rem;
}

.footer-logo {
  text-align: end;
}

.footer-logo img {
  padding-left: 0.5rem;
}
</style>
