<template>
  <sidebar-menu :menu="menu" @toggle-collapse="onToggleCollapse">
    <div slot="header">
      <div class="sidebar-logo" v-show="showLogoImg">
        <img src="../../assets/img/logo.png" alt="" class="logo-img" />
        <div class="title-sidebar">
          <h4>ALEXANDER CEBA...</h4>
        </div>
      </div>
    </div>
  </sidebar-menu>
</template>
<script>
function data() {
  return {
    menu: [
      {
        href: "#",
        title: "Dashboard",
        icon: "fa fa-home",
      },
      {
        href: "#",
        title: "Clientes",
        icon: "fa fa-user-friends",
      },
    ],
    showLogoImg: true,
  };
}

function onToggleCollapse() {
  this.showLogoImg = !this.showLogoImg;
}

export default {
  name: "sidebar",
  data,
  methods: {
    onToggleCollapse,
  },
};
</script>
<style scoped>
.logo-img {
  margin: auto;
  margin: 0.5rem;
  margin-top: 0.9rem;
}

.title-sidebar {
  background-color: #222222;
  border-radius: 3px;
  width: 85%;
  margin: auto;
  margin-top: 0.6rem;
}

.title-sidebar h4 {
  color: #fff;
  text-shadow: #222222 3px;
}

.sidebar-logo {
  text-align: center;
}
</style>
