<template>
  <div class="form-register">
    <b-card
      title="Información del formulario"
      sub-title="Ingrese el titulo y la descripción que visualizarán los usuarios durante el proceso de pago"
    >
      <b-card-body>
        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <b-row>
            <b-col cols="6">
              <label for="firstName">
                Nombre <b>*</b>
                <b-form-input
                  id="firstName"
                  v-model="form.firstName"
                ></b-form-input>
              </label>
            </b-col>
            <b-col cols="6">
              <label for="lastName">
                Apellidos <b>*</b>
                <b-form-input
                  id="lastName"
                  v-model="form.lastName"
                ></b-form-input>
              </label>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <label for="country">
                Seleccione un pais <b>*</b>
                <b-form-select
                  id="country"
                  :options="selectedOptions"
                  v-model="form.country"
                ></b-form-select>
              </label>
            </b-col>
            <b-col cols="6">
              <label for="cid">
                Número de documento <b>*</b>
                <b-form-input
                  id="cid"
                  type="number"
                  v-model="form.cid"
                ></b-form-input>
              </label>
            </b-col>
          </b-row>
          <b-button type="submit" variant="info">
            Enviar
          </b-button>
          <b-button type="reset" variant="outline-info">
            Cancelar
          </b-button>
        </b-form>
      </b-card-body>
    </b-card>
    <success-modal
      :modalShow="modalSuccess"
      @hidden-modal-success="hiddenModalSuccess"
    />
    <failed-modal
      :modalShow="modalFailed"
      @hidden-modal-failed="hiddenModalFailed"
    />
  </div>
</template>
<script>
import CountryService from "../../services/countryService";
import SuccessModal from "./modal/successModal";
import FailedModal from "./modal/failedModal";

function data() {
  return {
    form: {
      firstName: "",
      lastName: "",
      country: "",
      cid: "",
    },
    selectedOptions: [],
    modalSuccess: false,
    modalFailed: false,
  };
}

function onReset() {
  this.form.firstName = "";
  this.form.lastName = "";
  this.form.country = "";
  this.form.cid = "";
}

function onCountries() {
  CountryService.getCountries()
    .then((response) => {
      const { data } = response;
      const listCountries = data.filter((value, index) => index <= 19);
      this.selectedOptions = listCountries.map((item) => {
        return {
          text: item.name,
          value: item.alpha2Code,
        };
      });
    })
    .catch((e) => {
      throw e;
    });
}

function hiddenModalFailed(val) {
  this.modalFailed = val;
}

function hiddenModalSuccess(val) {
  this.modalSuccess = val;
}

function onSubmit() {
  this.validationForm();
  this.modalSuccess = true;
}

function validationForm() {
  if (
    !this.form.firstName ||
    !this.form.lastName ||
    !this.form.country ||
    !this.form.cid
  ) {
    this.modalFailed = true;
    throw "ERROR";
  }
}

export default {
  name: "register",
  data,
  components: {
    SuccessModal,
    FailedModal,
  },
  methods: {
    onSubmit,
    validationForm,
    hiddenModalSuccess,
    onReset,
    hiddenModalFailed,
  },
  mounted: onCountries,
};
</script>
<style scoped>
label b {
  color: red;
}
button {
  margin-left: 0.5rem;
}
</style>
