<template>
  <div id="app">
    <b-container>
      <b-row>
        <b-col cols="1">
          <sidebar />
        </b-col>
        <b-col cols="11">
          <register />
        </b-col>
      </b-row>
    </b-container>
    <b-row>
      <footer-layout />
    </b-row>
  </div>
</template>
<script>
import Sidebar from "./components/layouts/sidebar";
import Register from "./components/register/index";
import FooterLayout from "./components/layouts/footer";

export default {
  name: "App",
  components: {
    Sidebar,
    Register,
    FooterLayout,
  },
};
</script>
<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
